* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.emag-wrapper {
    padding-top: 44px;
    background-color: #eee3cd;
    padding-bottom: 60px;
}
.emag-cover {
    margin-bottom: 30px;
}
.emag-cover img {
    width: 100%;
}
.emag-content img {
    width: 100%;
    margin-bottom: 30px;
}
.emag-content p {
    font-family: 'NotoSerif', serif;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
    padding: 0 15px;
}
.emag-credit {
    font-weight: 700;
    margin-top: 60px;
    border-left: solid 4px #d7bd8a;
}
.emag-credit p {
    margin-bottom: 0;
}